/* Somewhat universal */

/* Font */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(font/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'California Sun';
    src: url(font/California\ sun.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.lotm {
    text-align: center;
    font-family: California Sun;
    font-size: min(10vw,15vh);
    color: rgb(81, 45, 168);
    text-shadow:  min(-0.2vh,-0.2vw)  min(-0.2vh,-0.2vw) rgb(255, 223, 102),
    min(0.2vh,0.2vw)  min(-0.2vh,-0.2vw) rgb(255, 223, 102),
    min(-0.2vh,-0.2vw) min(0.2vh,0.2vw) rgb(255, 223, 102),
    min( 0.2vh,0.2vw) min(0.2vh,0.2vw) rgb(255, 223, 102)
}

/* Header */

.mhead h1 {
    margin: 0;
}

.top {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mhead a img {
    height: 1em;
    float: left;
    font-size: min(10vw,15vh);
    object-fit:contain;
}

/* Navigation */

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.hnav {
    background-color: rgba(82, 45, 168, 0.55);
    font-size: min(2vw,2vh);
}

.hnav > ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.hnav > ul > li {
    float: left;
}

.hnav > ul > li > a {
    color: rgb(255, 215, 0);
    font-weight: bolder;
    font-variant: small-caps;
    font-size: min(3vw,3vh);
    padding: 1em 1.5em;
    display: block;
}

.hnav > ul > li > a:hover:not(.active, .active-sub){
    background-color: rgb(145, 110, 225);
}

.hnav > ul > .hnavr{
    float: right;
}

.hnavr input[type=text] {
    padding: 0.5em;
    margin-top: 1.25em;

    border: none;
}

.hnavr .search-box button {
    float: right;

    padding: 0.45em 0.9em;
    margin-top: 1.25em;
    margin-right: 1em;
    
    border: none;
    cursor: pointer;
}

.hnavr .search-box *{
    font-size: min(2vw,2vh);
}

.active {
    background-color: rgb(81, 45, 168);
}

.active-sub {
    background-color: rgba(81, 45, 168, 0.801);
}

@media screen and (max-width: 768px) {
    .hnav {

    }

}

/* Content */

blockquote {
    margin: 0 0 1em;
    padding: 20px;
    background-color: rgba(255, 179, 226, 0.315);
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    width: 100%;
}

section {
    float: left;
    width: 70%;
}


aside {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside div {
    padding: min(1vh,1vw);
}

.im {
    align-self: center;
}

.im img {
    height: min(60vh,35vw);
}

main {
    margin: auto 3vw;
    font-size: min(2.5vh,2.5vw);
}

h3 {
    font-size: 1em;
}

.geninfo p, .geninfo ul li, .phys p {
    font-size: 0.75em;
}

#name{
    font-size: min(3vh,3vw);
}

.spoiler, .spoiler a{ 
    color: black; 
    background-color: black;
}
  
.spoiler:hover, .spoiler a:hover{
color: grey;
}